<div id="page_wrapper">
	<div id="content">
		<h1>Hola! Estas son las primeras Pruebas realizadas con RoR</h1>
		<p>Sea Bienvenido a este Blog en donde puede comentar lo que sea respecto a ruby y Ruby on Rails</p>
	</div>
</div>